/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  box-sizing: border-box;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}







body {
  margin: 0;
  background-color: #0B2434;

  font-family: 'Minecraft', sans-serif;

  color: #2B283A;

}
#root{
  
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}
main {
  background-color: #F5F5F5;
  height: min-content;
  width: min-content;
  border-radius: 20px;
  aspect-ratio: 1/1;
  width: 80vmin;

  
  display: flex;
  flex-direction: column;

  text-align: center;

  padding: 6vmin;
}















/* ! TITLE COMPONENT */
.Title{
  width: 100%;
  flex: 1.7;
}
.Title h2{
  font-size: 4vmin;
}
.Title p{
  padding: 0px 5.7vmin;
  font-size: 2.5vmin;
}

/* ! DICE COMPONENT */
.Dice{
  flex: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 8%;
  

  font-size: calc(10px + 1.3vw);
}
.Dice > button {
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  aspect-ratio: 1/1;
  width: 100%;
  text-align: center;
}
.Dice > button:hover{
  background-color: lightgray;
  cursor: pointer;
}
.Dice > button:active{
  background-color: #4cca7e;
}
.Dice .active{
  background-color: #59E391;
}


/* ! BUTTON COMPONENT */
.Button{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}
.Button > button{
  font-size: 3vmin; 
  background-color: #5035FF;
  color: white;
  padding: 2.5vmin 6vmin;
  border-radius: 10px;
  border: none;
}
.Button > button:hover{
  background-color: #4128e0;
  cursor: pointer;
}
.Button > button:active{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}